.top-navbar {
  
  > nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    background-color: var(--foreground);
    border-radius:20px;
    width: calc(100% - 2 * var(--default-margin));
    height: 100px;
    margin:var(--default-margin);
    padding: 0px 20px;

    > ul {
      display:flex;
      column-gap:25px;
    

      > li {
        list-style: none;
        width:100%;
        
        > a > h1 {
          transition: color 250ms;
        }

        > a > img {
          height:100%;
          
          
        }
      }
      > li:hover{        

        > a > h1 {
          color: var(--primary);
        }     
      }
    }
  }
}
@media screen and (width > 1249px) {
  #nav-btn-open, #nav-btn-close {
    display:none;
  }
}
@media screen and (width < 1250px) {
  .top-navbar {
    > nav{
      > ul {
        > .nav-btn {
          display:block;
          }
      
        }
      }
    }
    .top-navbar ul li:not(#nav-btn-open, #nav-btn-close) {
      display:none;
      
    }
    .open > nav {
      padding-top:100px;
      position:absolute;
      width:calc(100vw - 2 * var(--default-margin));
      height:calc(100vh - 2 * var(--default-margin));
      z-index: 100;
      overflow: hidden;
      justify-content: space-between;
      align-items: start;
      
      > #nav-btn-close {
        position: absolute;
        top:0;
        right:0;
      > ul {
        width:100%; 
        > li > a > h1 {
          text-align: end;
        }
        
      }
      }
      
      > ul {
        display:block;
      }
      
        > li {
        background-color: red;
        }
        > ul li:not(#nav-btn-open, #nav-btn-close) {
        display:block;
      }
      #nav-btn-close {
        position:absolute;
        top:calc(var(--default-margin) / 2);
        right:calc(var(--default-margin) / 2);
        width:60px;
      }
      .logo {
        position:absolute;
        top:calc(var(--default-margin) - 7px);
        left:calc(var(--default-margin) / 2 + 5px);
      }
    }
  }
.navbar-btn {
  height:60px;
  width:100%;
  cursor:pointer;
}